---
#########################################
# Config for production.
#########################################

debug: false

secret_key: ""  # Set in secrets

database:
  provider: "postgres"
  username: "postgres"
  password: ""  # Set in secrets
  host: "localhost"
  port: ""  # default
  name: "[[ name ]]"

redis:
  host: "localhost"
  port: 6379
  db: 0
