{% extends 'layouts/application.html.jinja2' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
<p>Now <strong>this</strong>, is a <em>Proper</em> web application!</p>
<p>The date is: {{ now.isoformat() }}</p>
{% endblock %}