{#import "./app.jinja" as Layout #}

{#def title='' #}

{# css "css/auth.css" #}

{% do attrs.set(title=title, class="auth")%}

<Layout __attrs={{attrs}}>
	<div class="auth__wrapper">
		{{ content }}
	</div>
</Layout>