
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: theme("colors.gray.200");
  background-color: theme("colors.gray.200");
  color: theme("colors.gray.900");
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.btn:hover, .btn:active {
  background-color: theme("colors.gray.100");
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  @apply ring-4 ring-gray-200;
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: theme("colors.gray.800");
    color: theme("colors.gray.50");
  }

  .btn:hover {
    background-color: theme("colors.gray.700");
  }

  .btn:active {
    background-color: theme("colors.gray.800");
  }

  .btn:focus {
    @apply ring-gray-700;
  }
}


.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  cursor: not-allowed;
  opacity: 0.75;
}

.btn[disabled]:focus {
  @apply ring-1;
}

@media (prefers-color-scheme: dark) {
  .btn[disabled],
  .btn[disabled]:hover,
  .btn[disabled]:active {
    cursor: not-allowed;
    opacity: 0.75;
  }
  .btn[disabled]:focus {
    @apply ring-1;
  }
}


.btn-outline {
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .btn-outline {
    background-color: transparent;
  }
}


.btn-primary {
  background-color: theme("colors.blue.700");
  color: white;
}

.btn-primary:hover {
  background-color: theme("colors.blue.600");
}

.btn-primary:focus {
  --tw-ring-color: theme("colors.blue.300");
}

@media (prefers-color-scheme: dark) {
  .btn-primary {
    background-color: theme("colors.blue.600");
  }

  .btn-primary:hover {
    background-color: theme("colors.blue.500");
  }

  .btn-primary:focus {
    --tw-ring-color: theme("colors.blue.800");
  }
}


.btn-primary-outline {
  border-color: theme("colors.blue.600");
  background-color: transparent;
  color: theme("colors.blue.600");
}

.btn-primary-outline:hover {
  background-color: theme("colors.blue.600");
  color: white;
}

.btn-primary-outline:focus {
  --tw-ring-color: theme("colors.blue.300");
}

@media (prefers-color-scheme: dark) {
  .btn-primary-outline {
    border-color: theme("colors.blue.500");
    color: theme("colors.blue.700");
  }

  .btn-primary-outline:hover {
    background-color: theme("colors.blue.500");
  }

  .btn-primary-outline:focus {
    --tw-ring-color: theme("colors.blue.800");
  }
}


.btn-danger {
  background-color: theme("colors.red.700");
  color: white;
}

.btn-danger:hover {
  background-color: theme("colors.red.600");
}

.btn-danger:focus {
  --tw-ring-color: theme("colors.red.300");
}

@media (prefers-color-scheme: dark) {
  .btn-danger:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: theme("colors.red.900");
  }
}


.btn-danger-outline {
  border-color: theme("colors.red.600");
  background-color: transparent;
  color: theme("colors.red.600");
}

.btn-danger-outline:hover {
  background-color: theme("colors.red.600");
  color: white;
}

.btn-danger-outline:focus {
  --tw-ring-color: theme("colors.red.300");
}

@media (prefers-color-scheme: dark) {
  .btn-danger-outline:focus {
    --tw-ring-color: theme("colors.red.900");
  }
}



.btn-warning {
  background-color: theme("colors.yellow.300");
  color: white;
}

.btn-warning:hover {
  background-color: theme("colors.yellow.200");
}

.btn-warning:focus {
  --tw-ring-color: theme("colors.yellow.300");
}

@media (prefers-color-scheme: dark) {
  .btn-warning:focus {
    --tw-ring-color: theme("colors.yellow.900");
  }
}


.btn-warning-outline {
  background-color: transparent;
  border-color: theme("colors.yellow.700");
  color: theme("colors.yellow.700");
}

.btn-warning-outline:hover {
  background-color: theme("colors.yellow.200");
  color: white;
}

.btn-warning-outline:focus {
  --tw-ring-color: theme("colors.yellow.300");
}

@media (prefers-color-scheme: dark) {
  .btn-warning-outline {
    border-color: theme("colors.yellow.400");
    color: theme("colors.yellow.400");
  }

  .btn-warning-outline:hover {
    background-color: theme("colors.yellow.400");
  }

  .btn-warning-outline:focus {
    --tw-ring-color: theme("colors.yellow.900");
  }
}


.btn-dark {
  background-color: theme("colors.gray.800");
  color: white;
  border-color: theme("colors.gray.700");
}

.btn-dark:hover {
  background-color: theme("colors.gray.900");
}

.btn-dark:focus {
  --tw-ring-color: theme("colors.gray.300");
}

@media (prefers-color-scheme: dark) {
  .btn-dark:hover {
    background-color: theme("colors.gray.700");
  }

  .btn-dark:focus {
    --tw-ring-color: theme("colors.gray.700");
  }
}


.btn-dark-outline {
  border-color: theme("colors.gray.900");
  color: theme("colors.gray.900");
  background-color: transparent;
}

.btn-dark-outline:hover {
  background-color: theme("colors.gray.900");
  color: white;
}

.btn-dark-outline:focus {
  --tw-ring-color: theme("colors.gray.300");
}

@media (prefers-color-scheme: dark) {
  .btn-dark-outline {
    border-color: theme("colors.gray.700");
    color: theme("colors.gray.700");
  }

  .btn-dark-outline:hover {
    background-color: theme("colors.gray.700");
  }

  .btn-dark-outline:focus {
    --tw-ring-color: theme("colors.gray.700");
  }
}


.btn-xs {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.btn-sm {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.btn-md {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
