{% extends "layouts/application.html.jinja" %}
{% from "common/_SectionTitle.html.jinja" import SectionTitle %}
{% from "posts/_Item.html.jinja" import Item %}

{% block meta -%}
<meta property="og:title" content="{{ topic.name }}">
<meta property="og:description" content="Posts about “{{ topic.name }}”">
{%- endblock %}

{% block title %}Topic: {{ topic.name }} | {{ super() }}{% endblock %}

{% block body %}
<section class="my-12">
	<h2 class="pb-10 font-serif text-3xl tracking-tight text-center sm:text-5xl">Topic: {{ topic.name }}</h2>
  {{ SectionTitle("Most recents posts on " + topic.name) }}
  <ul class="">
    {% for post in topic.posts -%}
      {{ Item(post) }}
    {%- endfor %}
  </ul>
</section>
{%- endblock %}
