{#def
  field,
  type="checkbox",
  label="",
  value="",
  label_class="",
  error_class="text-red-500 text-sm font-bold p-2",
  onerror_class="border-red-500"
#}

{% if type == "radio" -%}
  {% do attrs.set(class="form-radio") %}
{% else %}
  {% do attrs.setdefault(type="checkbox", class="form-checkbox") %}
{%- endif %}

{% do attrs.set(
  name=field.name,
  value=value,
  checked=(field.value == value)
) %}

{% if label -%}
  <label class="{{ label_class }}{% if field.error %} {{ onerror_class }}{% endif %}">
{%- endif %}
<input {{ attrs.render() }} />
{% if label -%}
  {{ label }}</label>
{%- endif %}

{% if field.error -%}
<div class="{{ error_class }}">
  {{ field.error.msg }}
</div>
{%- endif %}