from proper import cached_property

from [[ name ]].app import config
from [[ name ]].auth import auth


class AuthenticableMixin(object):

    @cached_property
    def auth(self):
        return Authenticable(self)

    @classmethod
    def by_id(cls, user_id):
        """Get an user by its primary key.

        Modify this code or overwrite in the User class to to include whatever
        scope restriction you need to add to this query.
        """
        return cls[user_id]

    @classmethod
    def by_login(cls, login):
        """Get an user by it login.

        Modify this code or overwrite in the User class to to include whatever
        scope restriction you need to add to this query.
        """
        return cls.get(login=login)

    @classmethod
    def authenticate(cls, login, password, *, update_hash=True):
        # This (and doing the same at register time, obvs) avoids you so many
        # support emails you wouldn't believe it.
        login = login.lower()

        return auth.authenticate(cls, login, password, update_hash=update_hash)

    @classmethod
    def authenticate_token(cls, token):
        return auth.authenticate_token(cls, token, config.auth.token_life)

    def before_insert(self):
        self.password = auth.hash_password(self.password)

    def set_password(self, secret):
        self.password = auth.hash_password(secret)


class Authenticable(object):
    session_key = "_user_token"
    redirect_key = "_redirect"
    clear_session_on_logout = True

    def __init__(self, user, ):
        self._user = user

    def get_session_token(self):
        """Makes an unique identifier for the user.
        """
        return auth.get_token(config.secret_key, self._user)

    def get_timestamped_token(self, timestamp=None):
        """Makes a timestamped one-time-use token that can be used to
        identifying the user.
        """
        return auth.get_timestamped_token(config.secret_key, self._user, timestamp)

    def login(self, req):
        """Store in the session an unique token for the user, so it can stay
        logged between requests.
        """
        assert self._user.id
        req.current_user = self._user
        req.session[self.session_key] = self.get_session_token()

    def logout(self, req):
        req.current_user = None

        # The session is shared so, if you have more than
        # one model/user-type signed in at the same time,
        # you don't want to do this.
        if self.clear_session_on_logout:
            req.session.clear()
            return

        if self.session_key in req.session:
            del req.session[self.session_key]
        if self.redirect_key in req.session:
            del req.session[self.session_key]
