from sqlalchemy.exc import IntegrityError

from proper.errors import NotFound

from [[ app_name ]].adapters import db
from .mixins import Timestamped  # noqa


class Base(Timestamped, db.Model):
    __abstract__ = True

    @classmethod
    def base_query(cls):
        return db.query(cls)

    @classmethod
    def first(cls, **attrs):
        """Returns the first object found with these attributes."""
        return cls.base_query().filter_by(**attrs).first()

    @classmethod
    def create(cls, **attrs):
        obj = cls(**attrs)
        db.add(obj)
        db.commit()
        return obj

    @classmethod
    def first_or_create(cls, **attrs):
        """Tries to find a record, and if none exists
        it tries to creates a new one."""
        obj = cls.first(**attrs)
        if obj:
            return obj
        return cls.create_or_first(**attrs)

    @classmethod
    def create_or_first(cls, **attrs):
        """Tries to create a new record, and if it fails
        because already exists, return the first it founds."""
        try:
            return cls.create(**attrs)
        except IntegrityError:
            db.rollback()
            return cls.first(**attrs)

    @classmethod
    def first_or_not_found(cls, **attrs):
        obj = cls.first(**attrs)
        if not obj:
            sa = ", ".join([
                f"{key}={repr(value)}" for key, value in attrs.items()
            ])
            raise NotFound(f"<{cls.__name__}> with attrs: {sa}")
        return obj
