from proper.helpers import slugify

from [[ app_name ]].adapters import db


__all__ = ["Sluggable"]


class Sluggable:
    _sluggable_field = "title"

    slug = db.Column(db.Text, nullable=False, unique=True)

    def __init__(self, **kwargs):
        if "slug" not in kwargs:
            kwargs["slug"] = slugify(kwargs[self._sluggable_field])
        super().__init__(**kwargs)
