{#def form, pk, login, password_minlen #}

<Layout.Auth title="Change your password">
  <Form
    class="auth-panel"
    action={{ url_for('PasswordReset.update', pk=pk) }}
    method="patch"
  >
    <div class="auth-header">
      <h2 class="auth-title">Change your password</h2>
      <p class="auth-text">
        Your email is “<strong><em>{{ login }}</em></strong>”.
      </p>
    </div>

    <p class="auth-help">
      Make sure your new password it's at least {{ password_minlen }} characters long
    </p>

    <Form.Errors form={{form}} />

    <div class="auth-field">
      <Form.Input
        field={{ form.fields.password1 }}
        label="Password"
        type="password"
        placeholder="New password"
        tabindex="1"
        size="large"
        block
      />
    </div>

    <div class="auth-field">
      <Form.Input
        field={{ form.fields.password2 }}
        label="Confirm password"
        type="password"
        placeholder="Confirm your new password"
        tabindex="2"
        size="large"
        block
      />
    </div>

    <div class="auth-footer">
        <ui.Button
          type="submit"
          var="primary"
          block
          size="large"
          block
        >Save my password</ui.Button>
    </div>
  </Form>
</Layout.Auth>
