{#def form #}

<Layout.Auth title="Reset your password">
  <Form
    class="auth-panel"
    action={{ url_for('PasswordReset.create') }}
  >
      <div class="auth-header">
        <h2 class="auth-title">Reset your password</h2>
        <p class="auth-text">
          Enter your email address and we will send you a link to reset your&nbsp;password.
        </p>
      </div>

      <Form.Errors form={{form}} />

      <div class="auth-field">
        <Form.Input
          field={{ form.fields.login }}
          label="Email"
          placeholder="Email"
          tabindex="1"
        />
      </div>

      <div class="auth-footer">
        <ui.Button
          type="submit"
          variant="primary"
          block
        >Email reset link</ui.Button>
      </div>
  </Form>

  <div class="auth-back">
    <a class="link"
      href="{{ url_for('Session.new') }}">
      Nevermind, go back
    </a>
  </div>
</Layout.Auth>
