{# type="button" #}
<button {{ attrs.render(
  class="
    font-semibold py-3 px-4
    border border-gray-400 rounded
    shadow-md active:shadow-none
    bg-gray-200 hover:bg-gray-100 active:bg-gray-200
  "
) }}>{{ content }}</button>