{#def form #}

<Layout.Auth title="Reset your password">
  <Form
    action={{ url_for('PasswordResets.create') }}
    class="w-full p-12 bg-white border border-gray-300 shadow-xl rounded-xl"
  >
      <div class="mb-8 text-center">
        <h2 class="mt-6 text-3xl font-bold text-gray-900">
          Reset your password
        </h2>
        <p class="mt-2 text-gray-600">
          Enter your email address and we will send you a link to reset your&nbsp;password.
        </p>
      </div>

      <FormErrors form={{ form }} />

      <div class="mb-4">
        <FormInput
          field={{ form.fields.login }}
          aria-label="Email"
          type="email"
          class="form-input w-full text-lg py-3 rounded-t-md"
          placeholder="Email"
          tabindex="1"
        />
      </div>

      <div class="mt-6">
        <button
          type="submit"
          class="btn btn-primary btn-md w-full"
        >Email reset link</button>
      </div>
  </Form>

  <div class="mt-6 text-center">
    <a class="link font-semibold"
      href="{{ url_for('Sessions.new') }}">
      Nevermind, go back
    </a>
  </div>
</Layout.Auth>
