{% macro Item(post) -%}
<li class="flex flex-col w-full py-3 mt-2 mb-2 border-b border-gray-200 sm:flex-row">
  <time
    class="w-32 pb-1 text-sm text-gray-500"
    datetime="{{ post.published_at_iso }}"
    title="{{ post.published_at_iso }}"
  >
    {{ post.published_at.strftime("%Y, %b %-d") }}
  </time>
  <a class="text-lg sm:text-xl link" href="{{ url_for('Posts.show', post) }}">
    {% if post.type != "post" %}{{ post.type.title() }}:{% endif %}
    {{ post.title }}
  </a>
</li>
{%- endmacro %}
