{% macro Topics(topics) -%}
{% if topics -%}
<p class="pt-6 pb-2 font-sans text-lg text-center border-t">
	Topics:
	{% for topic in topics -%}
		<a class="link" href="{{ url_for('Topics.show', topic) }}">{{ topic.name }}</a>
		{% if not loop.last %}, {% endif %}
	{%- endfor %}
</p>
{%- endif %}
{%- endmacro %}
