{% extends "layouts/application.html.jinja" %}
{% from "common/_SectionTitle.html.jinja" import SectionTitle %}
{% from "posts/_Item.html.jinja" import Item %}

{% block meta -%}
<meta property="og:description" content="Hi! I'm a software writer and open-source creator. This is my corner of the Internet.">
{%- endblock %}

{% block body %}
<section class="mt-4 mb-8 font-serif sm:mt-8">
  <h2 class="max-w-3xl mb-6 text-4xl font-bold sm:text-5xl md:text-5xl">Hey, I'm <span class="whitespace-nowrap">Juan-Pablo</span></h2>
  <div class="flex flex-col max-w-3xl text-xl text-gray-700 sm:flex-row">
    <img
      alt="Juan-Pablo Scaletti"
      class="hidden w-24 h-24 mb-3 mr-8 rounded-full sm:inline-block"
      src="{{ url_static('images/avatar.png') }}"
      width="110"
      height="110"
    >
    <div>
      <p class="mb-3">I'm a software writer, <a class="link" href="https://github.com/jpsca">open source</a> creator, and family man. Welcome to my corner of the&nbsp;Internet.</p>
      <p>To contact me, please write an&nbsp;<a class="link" href="mailto:juanpablo@jpscaletti.com?Subject=Hey">email</a>.</p>
    </div>
    </div>
</section>

<section class="py-12">
  {{ SectionTitle("Latest Posts") }}
  <ul>
    {% for post in latest -%}
      {{ Item(post) }}
    {%- endfor %}
  </ul>
</section>
{% endblock %}
