{% extends "layouts/application.html.jinja" %}
{% from "posts/_Topics.html.jinja" import Topics %}

{% block meta -%}
<link rel="stylesheet" href="{{ url_static('css/post.css') }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.description }}">
{%- endblock %}

{% block title %}{{ post.title }} | {{ super() }}{% endblock %}

{% block body %}
<article class="font-serif">
	<header class="my-8 text-center">
		{% include "common/_flourish.html.jinja" %}
		<h1 class="pb-3 text-3xl font-bold tracking-tight sm:text-4xl">
			{{ post.title }}
		</h1>
		<time class="italic font-light text-gray-500 md:text-base" datetime="{{ post.published_at_iso }}" title="{{ post.published_at_iso }}">{{ post.published_at.strftime("%b %-d, %Y") }}</time>
	</header>

	<section class="max-w-3xl mx-auto text-base post sm:text-lg">
		{{ post.html | safe }}
	</section>

	<footer class="max-w-3xl pt-4 pb-2 mx-auto mt-12 text-base tracking-wide text-center text-gray-700 uppercase border-t-2 border-b border-gray-400">
		Written <em class="italic font-normal tracking-normal lowercase">on</em>
		<time datetime="{{ post.published_at_iso }}" title="{{ post.published_at_iso }}">
			{{ post.published_at.strftime("%B %-d %Y") }}.
		</time>
	</footer>

	{% include "common/_author.html.jinja" %}
	{{ Topics(post.topics) }}
</article>
{%- endblock %}
