<div>
  {% if request.user -%}
		<a href="{{ url_for('Session.delete') }}" data-turbo-method="delete">Sign out</a>
	{%- else -%}
    <a href="{{ url_for('Session.new') }}">Sign in</a>
	{%- endif %}
</div>