<section class="flex flex-col items-center max-w-3xl pt-3 pb-8 mx-auto mt-6 font-sans text-base md:text-lg md:flex-row">
	<figure class="mb-4 text-center sm:mr-8 sm:-ml-4 md:text-left">
		<img class="w-24 rounded-full md:w-32" alt="Juan-Pablo Scaletti" src="{{ url_static('images/avatar.png') }}" width="100" height="100">
	</figure>
	<div class="leading-snug text-center md:text-left">
		<h2 class="mb-3 font-bold">Hi I’m Juan-Pablo Scaletti</h2>
		<p>I’m a software writer and open-source creator. This is my corner of the&nbsp;Internet.</p>
	</div>
</section>
