<footer class="py-8 mb-16 text-xs text-center text-gray-600 border-t border-gray-200 sm:text-sm">
	<p class="flex items-center justify-between w-48 mx-auto my-4">
		<a class="flex items-center justify-center w-10 h-10 overflow-hidden text-gray-600 transition-colors duration-200 ease-in-out bg-transparent rounded-full fill-current hover:text-white hover:bg-gray-700"
			href="https://github.com/jpsca"
			title="GitHub">
			{% include "common/github.svg" %}</a>
		<a class="flex items-center justify-center w-10 h-10 overflow-hidden text-gray-600 transition-colors duration-200 ease-in-out bg-transparent rounded-full fill-current hover:text-white hover:bg-gray-700"
			href="https://twitter.com/jpscaletti"
			title="Twitter">
			{% include "common/twitter.svg" %}</a>
		<a class="flex items-center justify-center w-10 h-10 overflow-hidden text-gray-600 transition-colors duration-200 ease-in-out bg-transparent rounded-full fill-current hover:text-white hover:bg-gray-700"
			href="https://www.linkedin.com/in/jpscaletti"
			title="LinkedIn">
			{% include "common/linkedin.svg" %}</a>
	</p>
	<p class="my-4">
		Designed & built in Lima 🇵🇪.
		<span class="whitespace-nowrap">Powered by <a class="link" href="https://github.com/jpsca">Dogfooding</a>, <a class="link" href="https://github.com/darealshinji/haiku-icons">Haiku icons</a>, and coffee</span>
	</p>
	{#<p>
		Subscribe to my <a class="link" href="{{ url_for('Posts.feed') }}">feed</a>
	</p>#}
</footer>
