{#def title = '', description='', lang='en' #}

{% if title %}{% set title = title + " | DEFAULT" %}{% endif -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="icon" type="image/x-icon" href="{{ url_static('favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_static('css/app.css') }}">
	<script src="{{ url_static('js/app.js') }}" defer></script>
	{{ catalog.render_assets() }}
	<script>window.csrf_token = "{{ request.csrf_token }}";</script>
  {% if title %}<meta property="og:title" content="{{ title }}">{% endif %}
  {% if description -%}<meta property="og:description" content="{{ description }}">{% endif -%}
</head>
<body>
	<main {{ attrs.render() }}>
		<Flashes />
		{{ content }}
	</main>
</body>
</html>
