{#def form, [[ singular_snake ]] #}

<Layout.App title="Edit [[ singular_snake ]]">
	<[[ singular_pascal ]].Form
		method="patch"
		action={{ url_for('[[ plural_pascal ]].update', pk=[[ singular_snake ]].id) }}
		form={{ form }}
	>
		<button type="submit">Update [[ singular_snake ]]</button>
	</[[ singular_pascal ]].Form>
</Layout.App>
