---
#########################################
# Config for testing.
#########################################

debug: false

database:
  provider: "postgres"
  username: "jps"
  password: ""  # Set in secrets
  host: "localhost"
  port: ""  # default
  name: "[[ name ]]_test"
