from orator.migrations import Migration


class [[ class_name ]](Migration):

    def up(self):
        """
        Run the migrations.
        """
    [% if table -%]
        with self.schema.
        [[- 'create' if create else 'table' -]]
        ("[[ table ]]") as table:
        [% if lines -%]
            table.increments("id")
            table.timestamps()
            [%- for line in lines %]
            [[ line ]]
            [%- endfor %]
        [%- else -%]
            pass
        [% endif -%]
    [%- else -%]
        pass
    [%- endif %]

    def down(self):
        """
        Revert the migrations.
        """
    [% if table -%]
        [% if create -%]
        self.schema.drop("[[ table ]]")
        [% else -%]
        with self.schema.table("[[ table ]]") as table:
            pass
        [%- endif %]
    [%- else -%]
        pass
    [%- endif %]
