{% macro print_dict(dict) -%}
	<div class="scroll-container">
		<table class="config">
			{%- for name, value in dict.items() %}
			<tr>
				<th><div>{{ name }}</div></th>
				<td><div>{{ value }}</div></td>
			</tr>
			{%- endfor %}
		</table>
	</div>
{%- endmacro -%}

<h3>Request</h3>

{% if request_query -%}
<section>
	<h4>Query:</h4>
	{{ print_dict(request_query) }}
</section>
{%- endif %}

{% if request_form -%}
<section>
	<h4>Form data:</h4>
	{{ print_dict(request_form) }}
</section>
{%- endif %}

{% if request_files -%}
<section>
	<h4>Files:</h4>
	{{ print_dict(request_files) }}
</section>
{%- endif %}

{% if request_headers -%}
<section>
	<h4>Environment:</h4>
	{{ print_dict(request_headers) }}
</section>
{%- endif %}


{% if response.headers -%}
<h3>Response</h3>

<section>
	<h4>Headers:</h4>
	<div class="scroll-container">
		<table class="config">
			{%- for name, value in response.headers.items() %}
			<tr>
				<th><div>{{ name }}</div></th>
				<td><div>{{ value }}</div></td>
			</tr>
			{%- endfor %}
		</table>
	</div>
</section>
{%- endif %}
