{% extends 'layouts/application.html.jinja2' %}

{% block title %}Private page{% endblock %}

{% block body %}
<form method="post" action="{{ app.url_for('Sessions.logout') }}">
	<input type="hidden" name="_csrf_token" value="{{ req.csrf_token }}">
	<button type="submit">Sign out</button>
</form>

<h1>Hi {{ req.current_user.login }}!</h1>
{% endblock %}