{#import "layouts/app.jinja" as Layout #}
{#import "./form.jinja" as Form #}

{#def form, [[ name_snake ]] #}

<Layout title="Edit [[ name_snake ]]">
	<Form
		method="patch"
		action={{ url_for('[[ name_pascal ]].update', pk=[[ name_snake ]].id) }}
		form={{ form }}
	>
		<button type="submit">Update [[ name_snake ]]</button>
	</Form>
</Layout>
