{#def form, action='', method='post' #}
{#import "form.jinja" as Form #}

<Form method={{ method }} action={{ action }}>
  [% for f in form_fields -%]
  <div class="field">
    {{ form.[[ f.name ]].label("[[ f.name|title ]]") }}
    {{ form.[[ f.name ]].text_input() }}
    {{ form.[[ f.name ]].error_tag() }}
  </div>
  [% endfor -%]

  {{ content }}
</Form>
