{#def [[ singular_snake ]] #}

<Layout.App title="[[ singular_pascal ]]">
  <h1>[[ singular_pascal ]] #{{ [[ singular_snake ]].id }}</h1>

  [% for f in form_fields -%]
  <p><strong>[[ f.name|title ]]:</strong> {{ [[ singular_snake ]].[[ f.name ]] }}</p>
  [% endfor -%]

  <div class="actions">
    <a href="{{ url_for('[[ plural_pascal ]].edit', pk=[[ singular_snake ]].id) }}">Edit this [[ singular_snake ]]</a>
    <a href="{{ url_for('[[ plural_pascal ]].index') }}">Back to [[ plural_snake ]]</a>
    <Form method="delete" action={ url_for('[[ plural_pascal ]].delete', pk=[[ singular_snake ]].id) }>
      <button type="submit">Delete this [[ singular_snake ]]</button>
    </Form>
  </div>
</Layout.App>
