{#def email #}
{#import "layouts/auth.jinja" as Layout #}

<Layout title="Password-reset email sent">
  <div class="auth-panel">
    <h2 class="auth-title">Password-reset email sent</h2>
    <p class="auth-text">
      We sent you a link to the following email: <strong>{{ email }}</strong>
    </p>
    <p class="auth-text">
      Check your email, and click on the link to reset your&nbsp;password
    </p>
    <p class="auth-text">
      If it doesn't appear within a few minutes, check your spam&nbsp;folder.
    </p>
  </div>
</Layout>
