{% extends 'layouts/emails.html.jinja2' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<p>We heard that you lost your [[ name ]] password. Sorry about that!</p>

<p>But don’t worry! You can use the following link to reset your password:
<a href="{{ url }}">{{ url }}</a>.

<p>If you don’t use this link within 3 hours, it will expire. To get a new password reset link, visit <a href="{{ app.url_for('Sessions.reset') }}">{{ app.url_for("Sessions.reset") }}</a>.</p>

<p>Thanks,<br>
The [[ name ]] Team</p>
{% endblock %}
