{% extends "layouts/auth.html.jinja" %}

{% block title %}Wrong password-reset link{% endblock %}

{% block body %}
<div class="max-w-lg h-full mx-auto">
	<div class="h-full flex items-center bg-white shadow-md border-r border-l border-gray-400 p-10">
		<div class="text-center">
			<h2 class="mt-6 text-3xl font-bold text-gray-900">
				Wrong password-reset link
			</h2>
			<p class="mt-6 text-gray-700">
				Something is wrong with the link to reset your&nbsp;password.
			 </p>
			 <p class="mt-6 text-gray-700">
			 	Try to copy and paste it from the email or to reset your password&nbsp;again.
			</p>
		</div>
	</div>
</div>
{% endblock %}
