import os


debug = False
secret_key = "---- This is a fake secret key just for testing ----"

database = {
    "uri": os.getenv("DATABASE_TESTS_URI", "postgres://@localhost/[[ app_name ]]_tests"),
}
