---
#########################################
# Config for development.
#########################################

debug: true

secret_key: "--- This is a fake secret key just for development ---"

database:
  provider: "postgres"
  username: "jps"
  password: ""  # Set in secrets
  host: "localhost"
  port: ""  # default
  name: "[[ name ]]"

redis:
  host: "localhost"
  port: 6379
  db: 0
