{#def form, [[ singular_snake ]] #}

<Layout.App
	title="Edit [[ singular_snake ]]"
	class="mt-10 mx-auto px-5 max-w-screen-md"
>
	<h1 class="font-bold text-2xl">Edit [[ singular_snake ]]</h1>
	<[[ view_pascal ]].Form
		method="patch"
		action={url_for('[[ plural_pascal ]].update', pk=[[ singular_snake ]].id)}
		form={form}
	>
		<div class="mt-6">
			<button
				type="submit"
				class="btn btn-primary"
			>Update [[ singular_snake ]]</button>
		</div>
	</[[ view_pascal ]].Form>
</Layout.App>
