{#def form, action='', method='post' #}

{% set ff = form.fields %}

<Form
  method={method}
  action={action}
>
  [% for f in form_fields -%]
  <div class="my-5">
    <label>
      [[ f.name|title ]]
      <input
        type="text"
        class="block form-input"
        name="{{ ff.[[ f.name ]].name }}"
        value="{{ ff.[[ f.name ]].value }}"
      />
    </label>
    {% if ff.[[ f.name ]].error -%}
      <div class="text-red">{{ ff.[[ f.name ]].error.msg }}</div>
    {%- endif %}
  </div>
  [% endfor -%]

  {{ content }}
</Form>
