{#def form, action='', method='post' #}

<Form
  method={method}
  action={action}
>
  <FormErrors form={form} />

  [% for f in form_fields -%]
  <div class="my-5">
    <FormInput
      field={form.fields.[[ f.name ]]}
      label="[[ f.name|title ]]"
      type="text"
      placeholder=""
      tabindex="1"
      class="form-input block"
    />
  </div>
  [% endfor -%]

  {{ content }}
</Form>
