{#def [[ plural_snake ]] #}

<Layout.App
	title="[[ plural_pascal ]]"
	class="mt-10 mx-auto px-5 max-w-screen-md"
>
	<div class="flex justify-between items-center">
		<h1 class="font-bold text-2xl">[[ plural_pascal ]]</h1>
		<a
			href="{{ url_for('[[ plural_pascal ]].new'
        [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }}"
			class="btn btn-primary"
		>New [[ singular_snake ]]</a>
	</div>

	<div>
		<ul>
		{% for [[ singular_snake ]] in [[ plural_snake ]] -%}
		<li>
      <a
        href="{{ url_for('[[ plural_pascal ]].show', pk=[[ singular_snake ]].id
          [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }}"
        class="link font-semibold"
      >
        [[ singular_pascal ]] #{{ [[ object_id ]] }}
      </a>
    </li>
		{% endfor -%}
		</ul>
	</div>
</Layout.App>
