{#def form #}

<Layout.App
	title="New [[ singular_snake ]]"
	class="mt-10 mx-auto px-5 max-w-screen-md"
>
	<h1 class="font-bold text-2xl">New [[ singular_snake ]]</h1>

	<[[ view_pascal ]].Form
		action={{ url_for('[[ plural_pascal ]].create'
        [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }}
		form={{ form }}
	>
		<div class="mt-6">
			<button
				type="submit"
				class="btn btn-primary"
			>Create [[ singular_snake ]]</button>
		</div>
	</[[ view_pascal ]].Form>
</Layout.App>
