{#def [[ singular_snake ]] #}

<Layout.App
	title="[[ singular_pascal ]]"
	class="mt-10 mx-auto px-5 max-w-screen-md"
>

<div class="mx-auto md:w-2/3 w-full flex">
	<div class="mx-auto">
		<h1 class="font-bold text-2xl">[[ singular_pascal ]] #{{ [[ object_id ]] }}</h1>

		[% for f in form_fields -%]
		<p class="my-5">
			<strong class="font-medium">[[ f.name|title ]]:</strong>
			{{ [[ singular_snake ]].[[ f.name ]] }}
		</p>
		[% endfor -%]

		<div class="mt-6">
			<a
				href="{{ url_for('[[ plural_pascal ]].edit', pk=[[ object_id ]]
          [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }}"
				class="btn btn-primary-outline btn-sm"
			>Edit this [[ singular_snake ]]</a>

			<Form
				method="delete"
				action={ url_for('[[ plural_pascal ]].delete', pk=[[ object_id ]]
          [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }
				class="inline-block ml-2"
			>
				<button
					type="submit"
					class="btn btn-danger-outline btn-sm"
				>Delete this [[ singular_snake ]]</button>
			</Form>

			<a
				href="{{ url_for('[[ plural_pascal ]].index'
          [%- if parent %], [[ parent_id ]]=[[ parent ]].id[% endif %]) }}"
				class="link"
			>Back to [[ plural_snake ]]</a>
		</div>
	</div>
</Layout.App>
