{% extends "layouts/application.html.jinja" %}

{% block title %}[[ controller_class_name ]]{% endblock %}

{% block body %}
<h1>[[ controller_class_name ]]</h1>

<div>
  <ul>
  {% for [[ model_snake_name ]] in [[ controller_snake_name ]] -%}
  <li><a href="{{ url_for('[[ controller_class_name ]].show', pk=[[ model_snake_name ]].id) }}">
    {{ [[ model_snake_name ]] }}
  </a></li>
  {% endfor -%}
  </ul>
</div>

<p><a href="{{ url_for('[[ controller_class_name ]].new') }}">New [[ model_snake_name ]]</a></p>
{% endblock %}
