{% from "common/Button.html.jinja" import Button -%}

{% extends "layouts/application.html.jinja" %}

{% block title %}New [[ model_snake_name ]]{% endblock %}

{% block body %}
<form method="post" action="{{ app.url_for('Person.create') }}">
	<input type="hidden" name="_csrf_token" value="{{ req.csrf_token }}">

	<div class="mt-8">
		{{ Button("Save", class="", type="submit") }}
	</div>
</form>
{% endblock %}
