<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proper Web Framework {{ proper_version }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style type="text/css">
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      -moz-osx-font-smoothing: grayscale;
      align-items: center;
      background-color: #fff8f4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #261b23;
      display: flex;
      flex-direction: column;
      font-family: 'Calibre', Sans-Serif;
      font-size: calc(0.9rem + 0.8vw);
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      min-height: 100vh;
      text-align: center;
    }
    nav {
      width: 100%;
      text-align: center;
      padding: 3rem 2rem;
    }
    h1 a,
    h1 a:visited {
      display: inline-block;
      cursor: pointer;
      padding: 2rem;
      margin-bottom: 1rem;
      font-size: 7rem;
      text-decoration: underline;
      text-decoration-style: dotted;
      color: #0a6fc1;
      font-weight: 600;
      letter-spacing: -0.05ch;
      transition: all;
    }
    h1 a:hover,
    h1 a:active {
      text-decoration-style: solid;
    }
    ul {
      bottom: 0;
      left: 0;
      list-style: none;
      padding: 2rem 2rem 3rem;
      position: absolute;
      right: 0;
      font-size: calc(0.9rem + 0.3vw);
    }
    li {
      padding: 0.2rem;
    }
  </style>
</head>

<body>
  <nav>
    <h1>
      <a href="" target="_blank">
        Proper
      </a>
    </h1>
    <p><strong>Congratulations!</strong></p>
    <p>You are now running a <em>proper</em> web&nbsp;application.</p>
  </nav>

  <ul>
    <li><strong>Proper version:</strong> {{ proper_version }}</li>
    <li><strong>Python version:</strong> {{ python_version }}</li>
  </ul>
</body>

</html>
