{% extends "layouts/application.html.jinja" %}

{% block title %}Edit [[ singular_snake ]]{% endblock %}

{% block body %}
<h1>Edit [[ singular_snake ]]</h1>

<form
	method="post"
	action="{{ app.url_for('[[ plural_pascal ]].update', pk=[[ singular_snake ]].id) }}"
	novalidate
>
	<input type="hidden" name="csrf_token" value="{{ request.csrf_token }}">
	<input type="hidden" name="_method" value="PATCH">

	{% include "[[ plural_snake ]]/_form.html.jinja" %}

	<div class="actions">
		<button type="submit">Update [[ singular_snake ]]</button>
	</div>
</form>
{% endblock %}
