{% extends "layouts/application.html.jinja" %}

{% block title %}New [[ singular_snake ]]{% endblock %}

{% block body %}
<h1>New [[ singular_snake ]]</h1>

<form
	method="post"
	action="{{ app.url_for('[[ plural_pascal ]].create') }}"
	novalidate
>
	<input type="hidden" name="csrf_token" value="{{ request.csrf_token }}">

	{% include "[[ plural_snake ]]/_form.html.jinja" %}

	<div class="actions">
		<button type="submit">Create [[ singular_snake ]]</button>
	</div>
</form>
{% endblock %}
