{% extends "layouts/application.html.jinja" %}

{% block title %}[[ singular_pascal ]]{% endblock %}

{% block body %}
<h1>[[ singular_pascal ]] #{{ [[ singular_snake ]].id }}</h1>

[% for name, _fclass, _required in form_fields -%]
<p><strong>[[ name|title ]]:</strong> {{ [[ singular_snake ]].[[ name ]] }}</p>
[% endfor -%]

<p class="actions">
  <a href="{{ url_for('[[ plural_pascal ]].edit', pk=[[ singular_snake ]].id) }}">Edit this [[ singular_snake ]]</a>
  <a href="{{ url_for('[[ plural_pascal ]].index') }}">Back to [[ plural_snake ]]</a>
</p>
<form method="post" action="{{ url_for('[[ plural_pascal ]].delete', pk=[[ singular_snake ]].id) }}">
  <input type="hidden" name="_csrf_token" value="{{ req.csrf_token }}">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete this [[ singular_snake ]]</button>
</form>
{% endblock %}
