.auth {
  background-color: #f0f0f2;
}

.auth__wrapper {
  width: 600px;
  margin: 5em auto;
}
@media (max-width: 700px) {
  .auth__wrapper {
    margin: 0 auto;
    width: auto;
  }
}

.auth-panel {
  width: 100%;
  padding: 3rem;
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* gray-300 */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
}

.auth-header {
  margin-bottom: 1.5rem;
}

.auth-title {
  margin: 0 0 1rem 0;
  font-size: 1.875rem;
  font-weight: 700;
  color: #111827; /* gray-900 */
}
.auth-text {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 1rem;
  color: #4b5563;  /* gray-600 */
}
.auth-help {
  font-size: 0.875rem;
  color: #6b7280; /* gray-500 */
}

.auth-field {
  margin-bottom: 1rem;
}
.auth-field label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #374151; /* gray-700 */
}
.auth-field :is(input, textarea) {
  cursor: text;
  outline: none;
  font-size: 1.1rem;
  color: #262626;
  background-color: #fcfcfc;
  border: 1px solid #a4a4a4; /* gray-400 */
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(210, 216, 222, 0.2);
  overflow: hidden;
  padding: 1rem 0.75rem;
  margin-bottom: 5px;
  position: relative;
  transition-duration: 100ms;
  transition-property: color, background-color, box-shadow, outline;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  width: 100%;
}
.auth-field .field-error {
  color: #dc2626; /* red-600 */
  font-size: 0.875rem;
}

.auth-footer {
  margin-bottom: 1.5rem;
}
.auth-footer .btn {
  font-size: 1rem;
  width: 100%;
  min-height: 3rem;
  padding: 0 1.125rem;
}
.auth-back {
  margin-top: 2rem;
  text-align: center;
}