
.page-search .search--nav {
  background: var(--color-white);
  font-size: var(--font-size-x-small);
}

@media (hover: hover) {
  .page-search .search button:is(:focus,:hover) {
    color: rgba(var(--rgb-gray), 0.8);
  }

  .page-search .search:is(:focus,:hover) {
    box-shadow: 0 0 0 1px rgba(var(--rgb-gray), 0.4);
  }

  .page-search .search:focus button,
  .page-search .search:hover button {
    color: rgba(var(--rgb-gray), 0.8);
  }

  .page-search  .search:has(input:focus) {
    background: var(--color-white);
    box-shadow: 0 0 0 2px var(--color-accent);
  }

  .page-search .search:has(input:focus) button {
    color: var(--color-gray);
  }
}

#search-query {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem 2rem;
}
#search-query form.search {
  display: inline-flex;
  font-size: 1.5rem;
}

#search-results {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
#search-results .search-result {
  display: flex;
  flex-direction: column;
}
#search-results .search-result h3 {
  color: var(--color-accent);
}
#search-results .search-result h3 a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(var(--rgb-accent), 0);
}
#search-results .search-result small {
  color: var(--color-gray);
  font-size: 80%;
  font-weight: 500;
  margin-bottom: 0.6em;
  margin-top: 0.1em;
}
#search-results .search-result small a {
  color: inherit;
  text-decoration: none;
}

#search-results .search-result > div :not(pre,mark) {
  font-size: 80%;
  overflow: auto;
}
#search-results .search-result > div pre {
  font-family: var(--font-family-mono);
  font-size: 70%;
  white-space: pre;
  background: rgba(var(--rgb-gray), 0.1);
  padding: 1em 1.4em;
  border-radius: 0.2em;
  max-height: 30em;
  overflow: hidden;
}

@media (hover: hover) {
  #search-results h3 a:is(:focus,:hover) {
    color: var(--color-gray);
    text-decoration-color: var(--color-gray);
  }

  #search-results small a:is(:focus,:hover) {
    color: var(--color-gray);
  }
}