@import "tailwindcss/components";

.link {
	text-decoration: underline;
	text-underline-offset: 0.11em;
	color: theme("colors.blue.500");
}
.link:active, .link:hover {
	text-decoration: none;
}

.btn {
	border: 1px solid transparent;
	border-bottom: 2px solid rgba(54, 54, 54, .3);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .65);
	display: inline-block;
	min-width: 3em;
	text-decoration: none;

	/* Overwritable defaults */
	color: theme("colors.gray.700");
	background-color: theme("colors.gray.50");
	border-radius: 4px 4px 5px 5px;
	font-family: theme('fontFamily.sans');
	font-size: theme("fontSize.sm");
	font-weight: theme("fontWeight.semibold");
	text-align: center;
	padding: 0.643em;
	/*  */
}
.btn:focus {
	outline-offset: -4px;
}
.btn:hover {
	/* Overwritable defaults */
	background-color: theme("colors.gray.100");
	/*  */
}
.btn:active {
	border-top: 2px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .65),
	            0 -1px 0 0 rgba(54, 54, 54, .3);

	/* Overwritable defaults */
	background-color: theme("colors.gray.200");
	/*  */
}
