{#
form = ...
#}
<LayoutApp title="New [[ singular_snake ]]">
	<h1>New [[ singular_snake ]]</h1>

	<[[ singular_pascal ]]Form
		action={{ url_for('[[ plural_pascal ]].create') }}
		form={{ form }}
	>
		<div class="actions">
			<button type="submit">Create [[ singular_snake ]]</button>
		</div>
	</[[ singular_pascal ]]Form>
</LayoutApp>
