from http.cookiejar import CookieJar
import os

from webtest import TestApp
import pytest

from [[ name ]].main import app, db as _db


os.environ["PROPER_ENV"] = "testing"


@pytest.fixture(scope="session")
def db():
    _db.drop_all_tables(with_all_data=True)
    _db.create_tables()
    load_fixtures()
    return _db


@pytest.fixture()
def web():
    jar = CookieJar()
    return TestApp(app, cookiejar=jar)


def load_fixtures():
    pass
