from pony.orm import db_session

from [[ name ]].models import User


def test_redirect_to_sign_in_if_i_havent_signed_in(web):
    res = web.get("/user")
    assert res.status == "303 See Other"


@db_session
def test_wrong_login(web, db):
    user = User(login="test", password="qwertyuiop")
    db.commit()
    try:
        res = web.get("/sign-in")
        form = res.forms["signInForm"]
        form["login"] = "admin"
        form["password"] = "qwertyuiop"
        res = form.submit()

        assert "Wrong user and/or password" in res.text
    finally:
        user.delete()


@db_session
def test_wrong_password(web, db):
    user = User(login="test", password="qwertyuiop")
    db.commit()
    try:
        res = web.get("/sign-in")
        form = res.forms["signInForm"]
        form["login"] = "test"
        form["password"] = "password"
        res = form.submit()

        assert "Wrong user and/or password" in res.text
    finally:
        user.delete()


@db_session
def test_sign_in(web, db):
    user = User(login="test", password="qwertyuiop")
    db.commit()  # The user must have an ID to be able to sign-in.
    try:
        res = web.get("/sign-in")
        form = res.forms["signInForm"]
        form["login"] = "test"
        form["password"] = "qwertyuiop"
        res = form.submit()

        assert res.status == "303 See Other"
        assert res.headers.get("location") == "/user/"

        res = web.get("/user/")
        assert res.status == "200 OK"
        assert "<title>Private page</title>" in res.text
    finally:
        user.delete()
