{#def form, pk, login, password_minlen #}
{% set f = form.fields %}

<Layout.Auth title="Change your password">
  <Form
    action={url_for('PasswordReset.update', pk=pk)}
    method="patch"
    class="w-full p-12 bg-white border border-gray-300 shadow-xl rounded-xl"
  >
    <div class="mb-8 text-center">
      <h2 class="mt-6 text-3xl font-bold text-gray-900">
        Change your password
      </h2>
      <p class="mt-2 text-base text-gray-600">
        Your email is “<span class="font-bold text-italic">{{ login }}</span>”.
      </p>
    </div>

    <p class="block mb-4 text-sm text-center text-gray-500">
      Make sure your new password it's at least {{ password_minlen }} characters long
    </p>

    {% if form.errors -%}
    <div class="mt-2 mb-3 text-sm font-bold text-center text-red-500">
      {% for error in form.errors -%}
        <p>{{ error.msg }}</p>
      {% endfor -%}
    </div>
    {%- endif %}

    <div class="mb-4">
      <input
        aria-label="Password"
        type="password1"
        name="{{ f.password1.name }}"
        value="{{ f.password1.value }}"
        class="form-input w-full text-lg
          {%- if f.password1.error %} border-red-500{% endif %}"
        placeholder="New password"
        tabindex="1"
      />
      {% if f.password1.error -%}
      <div class="text-red-500 text-sm font-bold mb-3 mt-2">
        {{ f.password1.error.msg }}
      </div>
      {%- endif %}
    </div>

    <div class="mb-4">
      <input
        aria-label="Confirm password"
        type="password2"
        name="{{ f.password2.name }}"
        value="{{ f.password2.value }}"
        class="form-input w-full text-lg
          {%- if f.password2.error %} border-red-500{% endif %}"
        placeholder="Confirm your new password"
        tabindex="1"
      />
      {% if f.password2.error -%}
      <div class="text-red-500 text-sm font-bold mb-3 mt-2">
        {{ f.password2.error.msg }}
      </div>
      {%- endif %}
    </div>

    <div class="mt-6">
      <button
        type="submit"
        class="btn btn-primary btn-md w-full"
      >Save my password</button>
    </div>
  </Form>
</Layout.Auth>
