{#def form, pk, login, password_minlen #}

<Layout.Auth title="Change your password">
  <Form
    action={url_for('PasswordReset.update', pk=pk)}
    method="patch"
    class="w-full p-12 bg-white border border-gray-300 shadow-xl rounded-xl"
  >
    <div class="mb-8 text-center">
      <h2 class="mt-6 text-3xl font-bold text-gray-900">
        Change your password
      </h2>
      <p class="mt-2 text-base text-gray-600">
        Your email is “<span class="font-bold text-italic">{{ login }}</span>”.
      </p>
    </div>

    <p class="block mb-4 text-sm text-center text-gray-500">
      Make sure your new password it's at least {{ password_minlen }} characters long
    </p>

    <FormErrors form={form} />

    <div class="mb-4">
      <FormInput
        field={form.fields.password1}
        aria-label="Password"
        type="password"
        class="form-input w-full text-lg py-3 rounded-b-md"
        placeholder="New password"
        tabindex="1"
      />
    </div>

    <div class="mb-4">
      <FormInput
        field={form.fields.password2}
        aria-label="Confirm password"
        type="password"
        class="form-input w-full text-lg py-3 rounded-b-md"
        placeholder="Confirm your new password"
        tabindex="2"
      />
    </div>

    <div class="mt-6">
      <button
        type="submit"
        class="btn btn-primary btn-md w-full"
      >Save my password</button>
    </div>
  </Form>
</Layout.Auth>
