const colors = require("tailwindcss/colors");

module.exports = {
	purge: [
		"../[[ app_name ]]/templates/**/*.html.jinja"
	],
	darkMode: false, // `false`, `"media"` or `"class"`
	theme: {},
	variants: {
		extend: {},
	},
	plugins: []
};
