#
# Dependencies only for development
#
-r requirements.txt
black
flake8
flake8-bugbear
# flake8-blind-except
# flake8-builtins
# flake8-commas
# flake8-comprehensions
# flake8-docstrings
# flake8-import-order
# flake8-logging-format
# flake8-quotes
honcho ~=1.0
pytest
uwsgi ~= 2.0
